body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/bg-hero.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}

.foto-perfil {

  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.foto-perfil img {
  height: 100%;
  object-fit: cover;
  display: block;
}